version: '3.8'

services:
  stromapp:
    image: ghcr.io/d4rk-sh4dw/stromapp:nightly
    container_name: stromapp
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://stromapp:securepassword@db:5432/stromapp?schema=public
      - INFLUXDB_URL=${INFLUXDB_URL}
      - INFLUXDB_TOKEN=${INFLUXDB_TOKEN}
      - INFLUXDB_ORG=${INFLUXDB_ORG}
      - INFLUXDB_BUCKET=${INFLUXDB_BUCKET}
      - JWT_SECRET=${JWT_SECRET}

  db:
    image: postgres:15-alpine
    container_name: stromapp-db
    restart: always
    environment:
      - POSTGRES_USER=stromapp
      - POSTGRES_PASSWORD=securepassword
      - POSTGRES_DB=stromapp
    volumes:
      - db-data:/var/lib/postgresql/data
    # If you want to run InfluxDB locally as well, uncomment this:
    #  influxdb:
    #    image: influxdb:2
    #    container_name: influxdb
    #    ports:
    #      - "8086:8086"
    #    volumes:
    #      - influxdb-data:/var/lib/influxdb2
    #    environment:
    #      - DOCKER_INFLUXDB_INIT_MODE=setup
    #      - DOCKER_INFLUXDB_INIT_USERNAME=admin
    #      - DOCKER_INFLUXDB_INIT_PASSWORD=password123
    #      - DOCKER_INFLUXDB_INIT_ORG=home
    #      - DOCKER_INFLUXDB_INIT_BUCKET=energy

    # volumes:
    #   influxdb-data:
